@import "tailwindcss";

@theme {
  /* fontFamily */
  --font-Xiaolai: 'XiaolaiMonoSC-Regular';
  --font-SpaceGrotesk: 'SpaceGrotesk';
  --font-Fredericka_the_Great: 'Fredericka_the_Great';
  /* color */
  --color-primary: #2a8e8e;
}